<div id="shopify-block-15683396631634586217" class="shopify-block shopify-app-block">
<script
  id="chat-button-container"
  data-horizontal-position=bottom_right
  data-vertical-position=lowest
  data-icon=chat_bubble
  data-text=chat_with_us
  data-color=#785a38
  data-secondary-color=#FFFFFF
  data-ternary-color=#6A6A6A
  data-greeting-message=Celmade+provides+a+total+solution+for+Korean+aesthetic+products+and+beauty+solution-related+products.
  data-domain=celmade.com
  data-external-identifier=7Nf6OPrlA2D7GchoJl92hzG0vQ0oTjF6AOWeilmORYU>
</script>
</div>

<div id="shopify-block-4015264832934714879" class="shopify-block shopify-app-block">
<script type="lazyload_js">
  function createEcomSendMainStyleEle() {
    const ele = document.createElement("link")
    ele.rel = "stylesheet"
    ele.href = 'https://cdn.shopify.com/extensions/cc36af9d-ec91-45ba-ad72-fe534618b3ef/ecomsend-popups-16/assets/style.css'
    ele.dataset.ecomsendTag = "load-alternate-css"

    return ele
  }

  if (window.EcomSendApps?.enableAlternateCSSLoading ?? false) {
    document.head.appendChild(createEcomSendMainStyleEle())
  }

  function createEcomSendMainJSEle() {
    const ele = document.createElement("script")
    ele.defer = true
    ele.id = "ecomsend-main-js"
    ele.src = 'https://cdn.shopify.com/extensions/cc36af9d-ec91-45ba-ad72-fe534618b3ef/ecomsend-popups-16/assets/ecomsend.js'

    if (null === document.getElementById(ele.id)) {
      document.head.appendChild(ele)
    }
  }
</script>

<style id="ecomsend-custom-style"></style>
<div id="ecomsend-widget"></div>

<!-- BEGIN app snippet: ecomsend-app -->
<script type="lazyload_js">
  //EcomSend APPS COMMON JS CODE
  window.EcomSendApps = window.EcomSendApps || {}
  window.EcomSendApps.design_mode = false
  window.EcomSendApps.common = window.EcomSendApps.common || {}
  window.EcomSendApps.common.shop = {
    permanent_domain: 'celset.myshopify.com',
    currency: "GBP",
    money_format: "\u003cspan class=\"tlab-currency-format\"\u003e£{{amount}}\u003c\/span\u003e",
    id: 66667610337,
  }
  window.EcomSendApps.common.template = 'index'
</script>
<!-- END app snippet -->

<script>window.shopLocale = 'en'</script>
<script type="lazyload_js" data-src="https://cdn.shopify.com/extensions/cc36af9d-ec91-45ba-ad72-fe534618b3ef/ecomsend-popups-16/assets/react_react-dom.min.js"></script>
<script type="lazyload_js" data-src="https://cdn.shopify.com/extensions/cc36af9d-ec91-45ba-ad72-fe534618b3ef/ecomsend-popups-16/assets/mobx_react-custom-roulette.min.js"></script>

</div>