<div class="celmade_payment_infowrapper">
  <h5 class="celmade_payment_title">SWIFT Wire Transfer</h5>
  <p class="payment_discount">*SWIFT Wire Transfer Bank to Bank </p>
  <div class="user-payment-guide">
    <ul>
      <li><a href="https://www.swift.com/our-solutions/swift-gpi" target="_blank" class="payment_links" rel="nofollow">Which countries does SWIFT Wire Transfer support?</a></li>
      <li><a href="https://www.swift.com/your-needs/banking/payments-process-explained" target="_blank" class="payment_links" rel="nofollow">How does SWIFT Wire Transfer work?</a></li>
    </ul>
  </div>
  <h6 class="payment-detail-title">Account Details</h6>
  <div class="user-payment-detail">
    <ul>
      <li>Country: South Korea</li>
      <li>Currency: KRW</li>
      <li>Bank Name: WOORI BANK YANGPYUNGDONG BRANCH </li>
      <li>Account Name: Celset</li>
      <li>Bank Address: 33 YEONGDEUNGPO-RO YEONGDEUNGPO-GU SEOUL KOREA</li>
      <li>Account Number: 1081-400-885649</li>
      <li>SWIFT Code: HVBKKRSEXXX </li>
      <li>Mobile Number: 82-10-6499-9926</li>
      <li>Send US A Receipt with order number to treatmentkorea2021@gmail.com</li>
    </ul>
  </div>
</div>