<div class="celmade_payment_infowrapper">
  <h5 class="celmade_payment_title">Remitly</h5>
  <p class="payment_discount">* Remitly</p>
  <div class="user-payment-guide">
    <ul>
      <li><a href="https://help.remitly.com/s/article/available-countries?language=en_US" target="_blank" class="payment_links" rel="nofollow">Which countries does Remitly support?</a></li>
      <li><a href="https://help.remitly.com/s/new-customers?language=en_US" target="_blank" class="payment_links" rel="nofollow">How does Remitly work?</a></li>
    </ul>
  </div>
  <h6 class="payment-detail-title">Account Details</h6>
  <div class="user-payment-detail">
    <ul>
      <li>Country: South Korea</li>
      <li>Currency: USD → KRW</li>
      <li>Bank Name: HANA BANK </li>
      <li>Family Name: Kim </li>
      <li>Given name: Jae Sill</li>      
      <li>Account Number: 133-910544-47807</li>
      <li>Mobile Number: 82-10-8756-9922</li>
      <li>Reason for Sending: payment for Service or Goods  </li>      
      <li>Send us a Receipt with order number to treatmentkorea2021@gmail.com</li>
    </ul>
  </div>
</div>