<div class="celmade_payment_infowrapper">
  <h5 class="celmade_payment_title">Transferwise</h5>
  <p class="payment_discount">*Transferwise ===>  https://wise.com</p>
  <div class="user-payment-guide">
    <ul>
      <li><a href="https://wise.com/help/articles/2977959/how-do-i-send-money-with-wise" target="_blank" class="payment_links" rel="nofollow">How do I send money with Wise?</a></li>
    </ul>
  </div>
  <h6 class="payment-detail-title">Account Details</h6>
  <div class="user-payment-detail">
    <ul>
      <li>If you don’t have an account, you should make an account on</li>
      <li>Click on Send Money button and Choose International Transfer Money</li>
      <li>Sending currency : your currency (USD, EUR, GBP, etc)</li>
      <li>Recipient’s currency : Korean Won 'KRW' only</li>
      <li>Add Recipient’s Information  : Sending to Business or Charity</li>
      <li>Email : treatmentkorea2021@gmail.com</li>
      <li>Name of the business : Celset Co Ltd </li>
      <li>South Korea, City: Seoul</li>
      <li>Address : Rm511 Enc Venture Dream 6cha, 41, Digital-ro 31-gil, Guro- gu, Seoul, Rep. of KOREA </li>
      <li>Postal Code : 08375 </li>
      <li>Recipient's Bank Account : WOORI BANK  (우리) </li>
      <li>Account Number  : 1005-203-701426 </li>
      <li>Mobile Number : +8210-6499-9926 </li>
      <li>REFERENCE FIELD: PLEASE PUT YOUR ORDER NUMBER and NAME Otherwise your order will not be confirmed</li>
      <li>Reason for the transfer : Pay for Goods and Services</li>
     
      
      
      
    </ul>
  </div>
</div>